/*Navegacion*/
.navegacion{
	width: 100%;
	margin:10px auto;
	background: #545768;
	position: relative;
}

.navegacion ul{
	list-style: none;

}
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 10px 10px;
	color: white;
	font-family: 'Open Sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition:  all .3s;
}

/*Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility:hidden;
	opacity: 0;
	transition: opacity 1.5s;

}

.submenu li a{
	display: block;
	padding: 10px;
	color: white;
	font-family: Open Sans;
	text-decoration: none;
}
.menu li:hover .submenu{
	visibility:visible;
	opacity: 1;

}
/*Banner*/
.banner{
	height: 300px;
	width: 100%;
	margin-top: 150px;
	background-image: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.5) 100%),url(../img/quienes_somos_banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	

}
.banner .contenido_banner #titulo_banner {
	position: absolute;
	margin-left: 90px;
	margin-top: 40px;
	color: white;
	font-size: 2em;
	border:solid white 3px;
	width: 230px;
	height: 50px;
	text-align: center;


}
.banner .contenido_banner p {
	position: absolute;
	margin-left: 90px;
	margin-top: 100px;
	color: white;
	padding-top: 30px;
	text-align: center;
	text-align: 1.3em;
}

/*Articulo_1*/
.articulo_1{
	width: 500px;
	margin-left: 70px;
	margin-top: 70px;
}
.articulo_1 h2{
	font-size: 2em;
	color: #22443c;
}
.articulo_1 p{
	font-size: 1.3em;
	color:#012332;
}
 .mision{
	background: #E0E3D6;
	width: 500px;
	padding:10px 20px;
	position: relative;
	left: 670px;
	top: -650px;
}
.mision h3{
	background: #6297FB;
	width: 100px;
	height: 50px;
	padding-top: 20px;
	text-align: center;
	border:solid white 2px;
	color:white;
}

/*Historia*/
.imagen_historia{
	width: 500px;
	height: 700px;
	margin-left: 700px;
	margin-top: -400px;
	box-shadow: 0 0 5px;
}
.banner_Historia{
	height: 300px;
	width: 100%;
	margin-top: 150px;
	background-image: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.5) 100%),url(../img/Historia_banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.banner_Historia .contenido_banner #titulo_banner {
	position: absolute;
	margin-left: 90px;
	margin-top: 40px;
	color: white;
	font-size: 2em;
	border:solid white 3px;
	width: 230px;
	height: 50px;
	text-align: center;


}
.banner_Historia .contenido_banner p {
	position: absolute;
	margin-left: 90px;
	margin-top: 100px;
	color: white;
	padding-top: 30px;
	text-align: center;
	text-align: 1.3em;
}

/*Certificados*/
.banner_certificados{
	height: 300px;
	width: 100%;
	margin-top: 150px;
	background-image: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.5) 100%),url(../img/banner_certificados.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.banner_certificados .contenido_banner #titulo_banner {
	position: absolute;
	margin-left: 90px;
	margin-top: 40px;
	color: white;
	font-size: 2em;
	border:solid white 3px;
	width: 230px;
	height: 90px;
	text-align: center;


}
.banner_certificados .contenido_banner p {
	position: absolute;
	margin-left: 90px;
	margin-top: 110px;
	color: white;
	padding-top: 30px;
	text-align: center;
	text-align: 1.3em;
}


